<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My personal web</title>
</head>

<body>
    <!-- Cabecera y menu -->
    <h1>My personal web</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">About me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>

    <!-- Contenido -->
    {% block content %} {% endblock %}
</body>

</html>